<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <clear />
    <add key="SovFleetFHL" value="https://pkgs.dev.azure.com/SovFleetFHL/_packaging/SovFleetFHL/nuget/v3/index.json" />
  </packageSources>
</configuration>